* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: 'Raleway';
  font-size: 19px;
  color: #292950;
  /*alt for color :#EBF5EE*/
  background-color: whitesmoke;
  padding: 0;
  height: 100vh;
  display: flex;
  flex-direction: column;
}
strong, h1 {
  font-family: 'Lexend'
}

nav {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  padding: 0.5rem;
  gap: 0.5rem;
  border-bottom: solid 1px #457B9D;
  background-color: #1D3557;
}

nav a {
  display: inline-block;
  min-width: 9rem;
  padding: 0.5rem;
  /*border-radius: 0.2rem;*/
  border: solid 1px #E63946;
  text-align: center;
  text-decoration: none;
  color: #E63946;
}

nav a[aria-current='page'] {
  color: #E63946;
  background-color: #F1FAEE;
}
nav a:hover {
  background: #457B9D;
  color: white;
  cursor: pointer;
}

main {
  padding: 1rem;
}

h1 {
  font-weight: bold;
  font-size: 1.5rem;
}

.logo {
  border: solid 3px #A8DADC;
  padding: 6px;
}
/*index, first div*/
.home-big-text {
  background-color:#457B9D;
  align-items: center;
  justify-content: center;
  padding: 0.5px;
  text-align: center;
  font-size: 2rem;
}
.home-big {
  align-items: center;
  justify-content: center;
  display: flex;
  padding: 0px 5px 10px 10px;
  background-color: #457B9D;
  font-size: 20px;
}

#blue_me {
  float: right;
  opacity: 0.87;
  border: #1D3557 solid 3px;
}
#blue_me:hover {
  transform: scale(1.005);
  transition: transform .1s; 
}

.text_left {
  float: left;
  font-family: 'Lexend';
}

/*end of index, first div*/
#testimonials {
  text-align: left;
}

/*#footer-container {
  align-items: center;
  justify-content: center;
}*/

footer {
  background-color: #1D3557;
  color: #E63946;
  width: 100%;
  height: 4rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

footer address {
  padding-left: 2%;
}

#footer-image {
  width: 40px;
  height: 40px;
  padding-right: 2%;
}
#content {
  flex: 1;
}
/*color palette of choice: https://coolors.co/palette/e63946-f1faee-a8dadc-457b9d-1d3557 */


#footer-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #1D3557;
  color: #E63946;
  height: 4rem;
  width: 100%;
  margin-top: auto;
}

footer address {
  padding-top: 2%;
  padding-left: 2%;
}

.social-logo {
  width: 35px;
  height: 30px;
  padding-left: 5px;
}

.social-logo-alt {
  height: 29px;
  width: 43px;
  padding-left: 5px;
}


.socials-container {
  display: flex;
  /*position: relative;*/
  align-items: center;
  justify-content: center; 
  padding: 5px 5px 5px 5px;
}

.scbig-container {
  display: table;
  grid-template-columns: 7px 1fr 1fr; 
  grid-template-rows: 5px 1fr 1fr;
}

.sc-category-container {
  display: inline-flex;

}